@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #ffffff;
  --text: #000000;
}

 * {
  transition: all 0.3s ease-in-out;
 }


body {
  @apply bg-white text-black dark:bg-zinc-900 dark:text-white;
  /* transition: all 0.5s ease-in-out; */
}