@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* Theme Variables */
@theme {
   /* Brand Colors */
   --color-primary: #2F80ED;      /* Blue */
   --color-secondary: #56CCF2;    /* Lighter blue */
   --color-accent: #F2994A;       /* Orange */
 
   /* Status Colors */
   --color-success: #27AE60;
   --color-warning: #F2C94C;
   --color-error:   #EB5757;
 
   /* UI Colors */
   --color-background: #FFFFFF;
   --color-surface: #F2F2F2;
   --color-textColor: #333333;
   --color-muted: #828282;
 
   /* Layout-Specific */
   --color-header: #FFFFFF;
   --color-footer: #F9F9F9;





   /* Dark Theme */

   --color-dark-primary: #7af298;       /* Same for brand consistency */
   --color-dark-secondary: #191818;
   --color-dark-accent: #F2994A;
 
   --color-dark-success: #6FCF97;
   --color-dark-warning: #F2C94C;
   --color-dark-error:   #FF6B6B;
 
   --color-dark-background: #111111;
   --color-dark-surface: #1E1E1E;
   --color-dark-textColor: #ffffff;
   --color-dark-muted: #BDBDBD;
 
   --color-dark-header: #1A1A1A;
   --color-dark-footer: #1A1A1A;

}

 * {
  transition: all 0.3s ease-in-out;
 }


body {
  @apply bg-dark-background text-dark-textColor;
}

.dark body {
  @apply bg-dark-background text-dark-textColor;
}